@import "styles/shared.scss";

.tr {
  display: grid;
  grid-template-columns: 330px 330px 330px 1fr;
}

.td {
  padding: 10px;
}

.tdRight {
  @extend .td;

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.submitBtn {
  @extend %primary-btn-small;

  margin-right: 10px;
}

.cancelBtn {
  @extend %secondary-btn-small;
}
